/* Home Page Start */
body,
body #root {
  overflow-x: hidden;
}
.section-div {
  margin: 30px 0px;
}
.section-heading-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.view-all {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Montserrat-Medium";
  cursor: pointer;
  margin: 0;
  color: rgb(175, 175, 175);
}
.section-heading {
  border-left: 4px solid #ffc240;
  padding-left: 15px;
  margin: 0;
  font-size: 22px;
  color: rgb(77, 74, 74);
  font-weight: 500;
  font-family: "Montserrat-SemiBold";
  margin: 20px 0px;
}

.section-heading-inner {
  border-bottom: 4px solid #ffc240;
  width: 90%;
  padding-left: 10px;
  font-family: "Montserrat-SemiBold";
  margin: 0;
  font-size: 22px;
  color: rgb(77, 74, 74);
  font-weight: 500;
  margin: 0px 0px 20px 0px;
}

.spacing-adjust {
  max-width: calc(100% + 9px);
  margin-left: auto;
}
.most-wanted-books {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: row;
}
.mp-image-and-text-container {
  position: relative;
  /* for animation:  */
  overflow: hidden;
  transition: transform 0.5s ease;
  width: 52%;
  border-radius: 7px;
}

.mp-image-and-text-container:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.most-wanted-books .mp-book-status {
  position: absolute;
  top: 2px;
  right: 3px;
  font-family: "Montserrat-Medium";
  font-size: 6px;
  text-transform: uppercase;
  margin: 0;
  /* transition: transform 0.5s ease; */
}
.most-wanted-books .mp-book-heading {
  position: absolute;
  line-height: 23px;
  font-family: "Montserrat-ExtraBold";
  top: 40px;
  width: 100px;
  right: -11px;
  color: white;
  font-weight: 800;
  font-size: 20px;
  text-transform: capitalize;
  /* transition: transform 0.5s ease; */
}
.mp-book-image {
  width: 100px;
  object-fit: contain;
  /* transition: transform 0.5s ease; */
  overflow: hidden;
}

/* .mp-book-image:hover {
  transform: scale(1.2);
}
.most-wanted-books .mp-book-heading:hover{
  transform: scale(1.2);
}
.most-wanted-books .mp-book-status:hover{
  transform: scale(1.2);
} */
.book-details {
  padding-left: 10px;
}

.mp-book-title {
  font-family: "Montserrat-Bold";
  margin: 0;
  font-size: 15px;
  font-weight: 00;
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(77, 74, 74);
}

.mp-book-category {
  font-family: "Montserrat-Regular";
  margin: 0;
  color: rgb(148, 143, 143);
  font-size: 13px;
  text-transform: capitalize;
}

.mp-book-description {
  margin: 0;
  color: rgb(77, 74, 74);
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat-SemiBold";
}

.mp-book-chapters {
  margin: 0;
  color: rgb(77, 74, 74);
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat-SemiBold";
}

.og-image-and-text-container {
  position: relative;
}

.og-books:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  /* box-shadow: 0 0 11px rgb(33 33 33 / 20%);
    border-radius: 7px; */
}
.og-book-chapters {
  margin: 0;
  color: rgb(77, 74, 74);
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat-SemiBold";
}
.og-books {
  display: flex;
  transition: transform 0.5s ease;
  cursor: pointer;
  flex-direction: column;
}
.og-book-image {
  width: 140px;
  object-fit: contain;
}

.og-books .og-book-status {
  position: absolute;
  top: 2px;
  right: 28px;
  font-family: "Montserrat-Medium";
  font-size: 9px;
  text-transform: uppercase;
  margin: 0;
}
.og-books .og-book-heading {
  font-family: "Montserrat-ExtraBold";
  position: absolute;
  top: 75px;
  width: 100px;
  right: 48px;
  color: white;
  line-height: 23px;
  font-weight: 800;
  font-size: 28px;
  text-transform: capitalize;
}

.og-book-title {
  margin: 0;
  font-size: 14px;
  font-weight: 00;
  font-family: "Montserrat-Bold";
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(77, 74, 74);
}
.books-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
}
.star-and-rating {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.recent-books-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
}

.Top10 {
  max-height: 400px;
  /* flex-wrap: wrap; */
}
.top10Books {
  cursor: pointer;
  display: flex;
  margin: 10px 0px;
}
.recent-books-container .top10Books {
  cursor: pointer;
  display: flex;
  margin: 10px 0px;
}

.top10-image:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.top10-image {
  width: 70px;
  transition: transform 0.5s ease;
  border-radius: 5px;
  object-fit: contain;
}

.top10BookColor_1 {
  color: #e70040;
  font-weight: 500;
  font-family: "Montserrat-SemiBold";
  margin: 0px 5px;
}
.top10BookColor_2 {
  color: #ffc240;
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
  margin: 0px 5px;
}
.top10BookColor_3 {
  color: #60d6ae;
  font-weight: 500;
  margin: 0px 5px;
  font-family: "Montserrat-SemiBold";
}
.top10BookColor_4 {
  color: #646468;
  margin: 0px 5px;
  font-weight: 500;
  font-family: "Montserrat-SemiBold";
}
.top10BookColor_5 {
  color: #646468;
  margin: 0px 5px;
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
}
.top10BookColor_6 {
  color: #e70040;
  margin: 0px 5px;
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
}
.top10BookColor_7 {
  color: #ffc240;
  margin: 0px 5px;
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
}
.top10BookColor_8 {
  color: #60d6ae;
  margin: 0px 5px;
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
}
.top10BookColor_9 {
  color: #646468;
  margin: 0px 5px;
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
}
.top10BookColor_10 {
  color: #646468;
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
  margin: 0px 5px;
}

.top10-book-title {
  font-weight: 500;
  margin: 0;
  font-family: "Montserrat-SemiBold";
  text-transform: capitalize;
  font-size: 16px;
}

.top10-book-genre {
  margin: 0;
  color: #646468;
  font-size: 12px;
  font-family: "Montserrat-Medium";
  text-transform: capitalize;
}
.top10-book-rating {
  margin: 0;
  margin-top: 7px;
  margin-left: 3px;
  font-weight: 500;
  font-family: "Montserrat-SemiBold";
  color: #646468;
  font-size: 12px;
}

.free-book-label {
  font-size: 35px;
  font-weight: 700;
  font-family: "Montserrat-SemiBold";
  text-align: center;
}
.recent-updates-label {
  font-size: 35px;
  font-weight: 700;
  font-family: "Montserrat-SemiBold";
  text-align: center;
}

/* Free Book Css  */
.three-lines-image {
  width: 618px;
  height: 376px;
}
.three-lines {
  width: 150px;
  height: 35px;
  top: 143px;
  right: 205px;
  position: absolute;
  transform: rotate(8deg);
}
.free-book-rectangle {
  /* padding: 40px 200px; */
  flex-direction: column;
  box-shadow: 0 0 11px rgb(33 33 33 / 20%);

  display: flex;
  align-items: center;
  justify-content: center;
}
.free-chapters-div {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.timer-and-free-book-details {
  max-width: 620px;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.free-book-status {
  /* position: relative; */
  /* bottom: 125px; */
  margin-left: 100px;
  transition: transform 0.5s ease;
  /* right: 80px; */
  font-family: "Montserrat-Medium";
  font-size: 12px;
  text-transform: uppercase;
  /* margin: 0; */
}
.free-book-heading {
  /* position: absolute; */
  line-height: 33px;
  transition: transform 0.5s ease;
  /* left: 460px; */
  /* bottom:1000px; */
  font-family: "Montserrat-ExtraBold";
  width: 150px;
  color: white;
  margin-left: 20px;
  margin-top: 70px;
  font-weight: 800;
  font-size: 35px;
  text-transform: capitalize;
}

.free-book-details {
  padding-left: 20px;
}

.free-book-image {
  width: 187px;
  height: 248px;
  /* cursor: no; */
  transition: transform 0.5s ease;
  /* object-fit: contain; */
  background-size: cover;
  position: relative;
  z-index: 1;
}
/* .free-book-image:hover > * {
  -moz-transform: scale(1.1);
  transform: scale(1.1);
} */
.free-book-title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-family: "Montserrat-Bold";
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(77, 74, 74);
}

.free-book-category {
  margin: 0;
  color: rgb(148, 143, 143);
  font-size: 20px;
  font-family: "Montserrat-Medium";
  margin: 6px 0px;
  text-transform: capitalize;
}

.gradient-border {
  position: relative;
  z-index: 99;
  overflow: hidden;
  border-radius: 20px;
}

.free-book-description {
  margin: 0;
  color: rgb(77, 74, 74);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  font-family: "Montserrat-SemiBold";
}

.free-book-chapters {
  margin: 0;
  color: rgb(77, 74, 74);
  font-size: 19px;
  font-weight: 500;
  font-family: "Montserrat-SemiBold";
}

/* Categories  */
.book-categories-section {
  margin: 40px 0px;
}

.book-category-label {
  color: white;
  font-family: "Montserrat-ExtraBold";
  font-size: 55px;
  font-weight: 800;
  text-transform: capitalize;
}
.book-category-image {
  /* background-image: `url(${URBAN})`, */
  width: 360px;
  cursor: pointer;
  background-size: 100% 100% !important;
  height: 180px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}
.book-category-image:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/* table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  } */

.table td {
  vertical-align: inherit;
}
.books-table {
  border-radius: 15px;
  overflow: hidden;
  border: 5px solid #ffc240;
  box-shadow: 0 3px 9px rgb(42 33 33 / 43%), inset 0 0 9px white;
}
table.recent-update-table {
  border-radius: 15px;
  /* border: 5px solid #ffc240; */
  /* border-left: 10px solid red;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden; */
}
.table-header {
  background-color: #ffc240;
  padding: 10px 0px;
  border-radius: 15px;
}
td.read-div {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.read-p {
  background-color: #ffc240;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  font-family: "Montserrat-Bold";
  width: 80px;
  border-radius: 15px !important;
}
.table-labels {
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Montserrat-Medium";
  margin: 0;
}
.timer-div {
  width: 210px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 13px 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.count-label {
  margin: 0;
  font-size: 20px;
  background-color: #fb9f15;
  border-radius: 5px;
  padding: 0px 5px;
  color: white;
  font-family: "Montserrat-Medium";
}
.day-label {
  margin: 0 5px;
  font-size: 20px;
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
}

.slider-image {
  width: 100%;
  object-fit: contain;
}

.gradient-blue-ball::before {
  content: "";
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: rgb(90 154 199 / 14%);
  position: absolute;
  z-index: 0;
  top: 34px;
  left: 159px;
}
.gradient-green-ball::before {
  content: "";
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: rgb(108 217 167 / 11%);
  position: absolute;
  z-index: 0;
  top: 184px;
  left: 77px;
}
.gradient-red-ball::before {
  content: "";
  width: 125px;
  height: 125px;
  border-radius: 100%;
  background-color: rgb(191 33 157 / 11%);
  position: absolute;
  z-index: 0;
  top: 81px;
  right: -26px;
}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-green {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}

.grounded-radiants {
  position: relative;
  border: 4px solid transparent;
  border-radius: 20px;
  background: white;
  background-clip: padding-box;
  padding: 10px;
  /* just to show box-shadow still works fine */
  box-shadow: 0 3px 9px rgb(42 33 33 / 43%), inset 0 0 9px white;
}

.grounded-radiants::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;

  background: rgb(46, 232, 70);
  background: linear-gradient(
    149deg,
    rgba(46, 232, 70, 1) 0%,
    rgba(171, 222, 12, 1) 74%
  );
  /* background: linear-gradient(to left, #00C853, #B2FF59); */
  content: "";
  z-index: -1;
  border-radius: 16px;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  font-size: 36px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 36px;
}

.completed-image-and-text-container {
  position: relative;
}

.completed-book-chapters {
  margin: 0;
  color: rgb(77, 74, 74);
  font-size: 13px;
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
}
.completed-books {
  display: flex;
  cursor: pointer;
  transition: transform 0.5s ease;
  flex-direction: column;
}
.completed-books:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  /* box-shadow: 0 0 11px rgb(33 33 33 / 20%);
    border-radius: 7px; */
}
.completed-book-image {
  width: 140px;
  object-fit: contain;
}

.completed-books .completed-book-status {
  position: absolute;
  top: 2px;
  right: 28px;
  font-family: "Montserrat-Medium";
  font-size: 9px;
  text-transform: uppercase;
  margin: 0;
}
.completed-books .completed-book-heading {
  position: absolute;
  top: 75px;
  width: 100px;
  right: 44px;
  font-family: "Montserrat-ExtraBold";
  color: white;
  line-height: 23px;
  font-weight: 800;
  font-size: 28px;
  text-transform: capitalize;
}

.completed-book-title {
  margin: 0;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  font-weight: 00;
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(77, 74, 74);
}
/* Home Page End */
/* Extraa */

.free-book-image div {
  position: absolute;
  z-index: 9;
}

.table-header-labels {
  font-family: "Montserrat-SemiBold";
}
@media (min-width: 1024px) {
  .most-wanted-books {
    margin-bottom: 10px !important;
  }
}
@media (max-width: 1024px) {
  .mp-image-and-text-container {
    width: 100%;
  }
  .book-category-image {
    width: 300px;
  }
  .mp-book-image {
    width: 114px;
  }
  .most-wanted-books .mp-book-heading {
    top: 55px;
    right: -5px;
  }
  .og-books .og-book-status {
    right: 0px;
  }
  .og-books .og-book-heading {
    right: 15px;
  }

  .top10-book-title {
    font-size: 14px;
    width: 150px;
  }
  .top10-book-genre {
    font-size: 13px;
  }
  .completed-books .completed-book-heading {
    right: 16px;
  }
  .completed-books .completed-book-status {
    right: 1px;
  }
  .top10BookColor_1 {
    font-size: 15px;
  }
  .top10BookColor_2 {
    font-size: 15px;
  }
  .top10BookColor_3 {
    font-size: 15px;
  }
  .top10BookColor_4 {
    font-size: 15px;
  }
  .top10BookColor_5 {
    font-size: 15px;
  }
  .top10BookColor_6 {
    font-size: 15px;
  }
  .top10BookColor_7 {
    font-size: 15px;
  }
  .top10BookColor_8 {
    font-size: 15px;
  }
  .top10BookColor_9 {
    font-size: 15px;
  }
  .top10BookColor_10 {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .most-wanted-books {
    margin-bottom: 10px;
  }
  .free-book-label {
    margin-top: -120px;
  }
  .mp-image-and-text-container {
    width: 147%;
  }
  .mp-book-image {
    width: 90px;
  }
  .most-wanted-books .mp-book-status {
    right: 4px;
  }
  .most-wanted-books .mp-book-heading {
    font-size: 18px;
    top: 43px;
    right: -17px;
  }
  .mp-book-title {
    font-size: 10px;
  }
  .mp-book-category {
    font-size: 10px;
  }
  .mp-book-description {
    font-size: 9px;
  }
  .mp-book-chapters {
    font-size: 10px;
  }
  .view-all {
    font-size: 12px;
  }
  .og-book-image {
    width: 109px;
  }
  .og-books .og-book-status {
    right: -15px;
    font-size: 7px;
  }
  .og-books .og-book-heading {
    right: -22px;
    font-size: 22px;
    top: 53px;
  }
  .og-book-title {
    font-size: 10px;
  }
  .og-book-chapters {
    font-size: 10px;
  }
  .section-heading-inner {
    font-size: 18px;
  }
  .top10Books {
    width: 213px;
  }
  .top10-image {
    width: 60px;
  }
  .top10-book-title {
    font-size: 12px;
  }

  .top10BookColor_1 {
    font-size: 14px;
  }
  .top10BookColor_2 {
    font-size: 14px;
  }
  .top10BookColor_3 {
    font-size: 14px;
  }
  .top10BookColor_4 {
    font-size: 14px;
  }

  .top10BookColor_5 {
    font-size: 14px;
  }
  .top10BookColor_6 {
    font-size: 14px;
  }

  .top10BookColor_7 {
    font-size: 14px;
  }
  .top10BookColor_8 {
    font-size: 14px;
  }

  .top10BookColor_9 {
    font-size: 14px;
  }
  .top10BookColor_10 {
    font-size: 14px;
  }
  .top10-book-genre {
    font-size: 12px;
  }
  .section-heading-inner {
    padding-left: 0;
  }
  .free-book-image {
    width: 182px;
    height: 247px;
  }
  .free-book-description {
    font-size: 17px;
  }
  .free-book-chapters {
    font-size: 18px;
  }
  .free-book-category {
    font-size: 18px;
  }
  .book-category-image {
    width: 210px;
    height: 112px;
  }
  .book-category-label {
    margin: 0;
    font-size: 39px;
  }
  .read-p {
    font-size: 14px;
    margin: 0;
    width: 80px;
  }
  .table-labels {
    font-size: 14px;
  }
  .section-heading {
    font-size: 20px;
  }

  .completed-book-image {
    width: 109px;
  }
  .completed-books .completed-book-status {
    right: -15px;
    font-size: 7px;
  }
  .completed-books .completed-book-heading {
    right: -16px;
    font-size: 24px;
    top: 55px;
  }
  .completed-book-title {
    font-size: 11px;
  }
  .completed-book-chapters {
    font-size: 10px;
  }
  .user-acc-circle {
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  .recent-books-container {
    height: 400px;
  }
  .books-container {
    height: 597px;
  }
  .most-wanted-books .mp-book-status {
    top: 2px;
    right: 3px;
  }
  .mp-book-title {
    font-size: 12px;
  }
  .mp-image-and-text-container {
    width: 98%;
  }
  .books-container {
    overflow-x: scroll;
  }

  .og-books .og-book-status {
    left: 76px;
    right: 0;
    top: 2px;
  }
  .og-books .og-book-heading {
    left: 17px;
    right: 0;
    font-size: 28px;
    top: 70px;
  }
  .og-books {
    margin-bottom: 20px;
  }
  .og-book-image {
    width: 140px;
  }
  .og-book-title {
    font-size: 14px;
  }
  .og-book-chapters {
    font-size: 13px;
  }
  .og-book-title {
    margin-top: 5px;
  }
  .most-wanted-books .mp-book-heading {
    font-size: 18px;
    top: 37px;
    right: -19px;
  }
  .top10-image {
    width: 66px;
  }
  .top10-book-title {
    font-size: 14px;
  }
  .book-category-image {
    width: 245px;
    margin-bottom: 15px;
  }
  .table-labels {
    font-size: 12px;
  }
  .read-p {
    font-size: 10px;
    width: 52px;
  }

  .free-book-label {
    margin-top: -45px;
  }

  .completed-books .completed-book-status {
    left: 76px;
    right: 0;
    top: 2px;
  }
  .completed-books .completed-book-heading {
    left: 17px;
    right: 0;
    font-size: 28px;
    top: 70px;
  }
  .completed-books {
    margin-bottom: 20px;
  }
  .completed-book-image {
    width: 140px;
  }
  .completed-book-title {
    font-size: 14px;
  }
  .completed-book-chapters {
    font-size: 13px;
  }
  .completed-book-title {
    margin-top: 5px;
  }
}

@media (max-width: 425px) and (min-width: 425px) {
  .center-most-popular-in-mobile {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
  }
}
@media (max-width: 425px) {
  tr {
    display: table-row;
  }

  thead.table-header {
    display: none;
  }

  table.table.recent-update-table.table-striped {
    margin: 0;
    margin-top:20px
  }
  td.read-div {
    display: none;
  }
  tbody tr td:nth-child(1) {
    /* background-color: red; */
    width: 150px;
  }
  tbody tr td:nth-child(2) {
    width: 40px;
    font-weight: 800;
    /* background-color: green; */
  }
  tbody tr td:nth-child(3) {
    width: 92px;
    /* background-color: yellow; */
  }
  thead tr th:last-child {
    display: none;
  }
  /* tbody tr td:last-child {
    display: none;
    background-color: blue;
  } */
  .timer-and-free-book-details {
    max-width: 290px;
  }

  .recent-books-container::-webkit-scrollbar {
    display: none;
  }
  .books-container::-webkit-scrollbar {
    display: none;
  }
  .spacing-adjust::-webkit-scrollbar {
    display: none;
  }
  .spacing-adjust {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .completed-books .completed-book-heading {
    width: 64px;
  }
  .books-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .top10-book-title {
    font-size: 14px;
    width: 107px;
  }
  .row-425 {
    flex-flow: nowrap;
    overflow-x: auto;
    margin: 0px 6px;
  }
  .recent-books-container {
    height: auto;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .row-425.row-426 {
    display: flex;
  }
  .recent-width .top10Books {
    width: 72px;
    display: block;
    margin: 0px 5px;
  }
  .free-book-category {
    font-size: 11px;
    margin: 0;
  }
  .free-chapters-div {
    margin: 0;
  }
  .most-wanted-books {
    margin-bottom: 20px;
  }
  .mp-book-title {
    font-size: 18px;
  }
  .mp-book-category {
    font-size: 14px;
  }
  .mp-book-description {
    font-size: 14px;
  }
  .mp-book-chapters {
    font-size: 13px;
  }
  .mp-book-image {
    width: 106px;
  }
  .free-book-label {
    font-size: 23px;
  }
  .free-book-rectangle {
    /* width: 292px; */
    width: auto;
  }
  .free-book-image {
    width: 86px;
    height: 113px;
  }
  .free-book-status {
    margin-left: 44px;
    font-size: 6px;
    margin-top: 2px;
  }
  .free-book-details {
    padding-left: 10px;
  }
  .free-book-heading {
    margin-left: 6px;
    margin-top: 25px;
    line-height: 19px;
    font-size: 18px;

    width: min-content;
  }
  .free-book-title {
    font-size: 12px;
    line-height: 14px;
  }
  .free-book-description {
    font-size: 9px;
    line-height: 10px;
  }
  .free-book-chapters {
    font-size: 11px;
  }
  .book-categories-section {
    display: none;
  }
  .section-heading {
    font-size: 20px;
  }
  .completed-books {
    width: 100px;
    margin-right: 0px;
    margin-bottom: 16px;
    padding: 0 4px;
  }
  .completed-book-image {
    width: 100%;
  }
  .gradient-blue-ball::before {
    width: 92px;
    height: 92px;
    top: 34px;
    left: 10px;
  }
  .gradient-green-ball::before {
    width: 62px;
    height: 62px;
    top: 186px;
    left: 31px;
  }
  .three-lines {
    width: 150px;
    height: 35px;
    top: 148px;
    right: -23px;
    transform: rotate(14deg);
  }
  .three-lines-image {
    width: 239px;
    height: 176px;
    /* background: red; */
  }
  .completed-books .completed-book-status {
    left: 50px;
    right: 0;
    top: 1px;
    font-size: 7px;
  }
  .completed-books .completed-book-heading {
    left: 7px;
    right: 0;
    font-size: 20px;
    line-height: 16px;
    top: 52px;
    text-transform: capitalize;
  }
  .completed-book-chapters {
    display: none;
  }
  .completed-book-title {
    font-size: 10px;
    line-height: 12px;
  }
  .completed-books-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
  }
  /* .books-table {
    width: 290px;
  } */

  .recent-updates-label {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: -36px !important;
    /* margin-left: -15px;
    margin-right: -15px; */
    text-align: center;
    background-color: #ffc107;
    border-radius: 20px 20px 0px 0px;
  }
  .books-table {
    box-shadow: none;
    border:0;
    border-radius: 0;
  }
  .section-heading-inner {
    width: 100%;
  }
  .og-book-image {
    width: 60px;
  }
  .og-books .og-book-heading {
    left: 4px;
    right: 0;
    line-height: 13px;
    width: 30px;
    font-size: 13px;
    top: 28px;
  }
  .table-labels {
    font-size: 8px;
    padding-left: 0px !important;
  }
  .table td {
    padding-right: 0;
  }
  .og-books .og-book-status {
    left: 31px;
    right: 0;
    top: 1px;
    font-size: 4px;
  }
  .og-books {
    padding-right: 0;
  }
  .og-book-title {
    font-size: 9px;
    line-height: 10px;
  }
  .og-book-chapters {
    display: none;
  }
  .free-book-label {
    margin-top: 0px;
  }
  .recent-books-container .top10BookColor_1 {
    display: none;
  }
  .recent-books-container .top10BookColor_2 {
    display: none;
  }
  .recent-books-container .top10BookColor_3 {
    display: none;
  }
  .recent-books-container .top10BookColor_4 {
    display: none;
  }
  .recent-books-container .top10BookColor_5 {
    display: none;
  }
  .recent-books-container .top10BookColor_6 {
    display: none;
  }
  .recent-books-container .top10BookColor_7 {
    display: none;
  }
  .recent-books-container .top10BookColor_8 {
    display: none;
  }
  .recent-books-container .top10BookColor_9 {
    display: none;
  }
  .recent-books-container .top10BookColor_10 {
    display: none;
  }
  .recent-books-container .star-and-rating {
    display: none;
  }
  .recent-books-container .top10-book-title {
    font-size: 10px;
    width: 77px;
  }
  .recent-books-container .top10-book-genre {
    display: none;
  }

  .most-wanted-books {
    width: 80px;
    margin-right: 0px;
    margin-bottom: 16px;
    padding: 0 4px;
    display: block;
  }
  .mp-book-image {
    width: 72px;
  }
  .mp-book-title {
    font-size: 14px;
  }
  .most-wanted-books .mp-book-heading {
    font-size: 15px;
    top: 28px;
    right: -35px;
  }
  .mp-book-category {
    display: none;
  }
  .mp-book-description {
    display: none;
  }
  .mp-book-chapters {
    display: none;
  }
  .mp-book-title {
    font-size: 10px;
    padding-left: 0;
    margin-top: 5px;
    line-height: 12px;
  }
  .book-details {
    padding-left: 0px;
  }
  .most-wanted-books .mp-book-status {
    top: 1px;
    right: 4px;
    font-size: 4px;
  }
  .comunity-and-user-icon {
    justify-content: flex-start !important;
  }
  .community-link {
    margin-left: 0px !important;
  }
}
@media (max-width: 375px) {
  .completed-books .completed-book-status {
    left: 47px;
    right: 0;
    top: 2px;
    font-size: 5px;
  }
  .completed-books .completed-book-heading {
    left: 6px;
    right: 0;
    font-size: 18px;
    line-height: 16px;
    top: 44px;
    text-transform: capitalize;
  }
}

@media (max-width: 320px) {
  .completed-books .completed-book-status {
    left: 37px;
    right: 0;
    top: 2px;
    font-size: 5px;
  }
  .completed-books .completed-book-heading {
    left: 5px;
    right: 0;
    font-size: 15px;
    line-height: 16px;
    top: 35px;
    text-transform: capitalize;
  }
}
